<?xml version="1.0" ?>
<robot name="potrol"  xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0.37 -0.004 0.035" rpy="0 0 0"/>
    </joint> -->

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>


    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_link_optical"></link>



    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>

        <sensor name="camera" type="depth">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>B8G8R8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>100.0</max_depth>
            </plugin>
        </sensor>
    </gazebo>



    <!-- camera -->
<!-- <xacro:macro name="camera" params="link_name">

    <joint name="${link_name}_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0.333633 -0.006 0.1443382" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="${link_name}"/>
    </joint> -->

  <!-- Camera -->
    <!-- <link name="${link_name}">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 1.57"/>
            <geometry>
                <mesh filename="package://potrol_description_cmake/stl/ZED2i.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 1.57"/>
            <geometry>
                <mesh filename="package://potrol_description_cmake/stl/ZED2i.stl" scale="0.001 0.001 0.001"/>

            </geometry>
        </visual>

        <inertial>
            <mass value="1e-5" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>
    <gazebo reference="${link_name}">
        <sensor name="${link_name}_sens" type="depth">
            <update_rate>50</update_rate>
            <camera>
                <horizontal_fov>1.047198</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>3</far>
                </clip>
            </camera>
            <plugin name="${link_name}_controller" filename="libgazebo_ros_openni_kinect.so">
            <baseline>0.2</baseline>
            <alwaysOn>true</alwaysOn>
            <updateRate>1.0</updateRate>
            <cameraName>${link_name}</cameraName>
            <imageTopicName>/${link_name}/color/image_raw</imageTopicName>
            <cameraInfoTopicName>/${link_name}/color/camera_info</cameraInfoTopicName>
            <depthImageTopicName>/${link_name}/depth/image_raw</depthImageTopicName>
            <depthImageInfoTopicName>/${link_name}/depth/camera_info</depthImageInfoTopicName>
            <pointCloudTopicName>/${link_name}/depth/points</pointCloudTopicName>
            <frameName>${link_name}_frame</frameName>
            <pointCloudCutoff>0.5</pointCloudCutoff>
            <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
            <distortionK1>0.00000001</distortionK1>
            <distortionK2>0.00000001</distortionK2>
            <distortionK3>0.00000001</distortionK3>
            <distortionT1>0.00000001</distortionT1>
            <distortionT2>0.00000001</distortionT2>
            <CxPrime>0</CxPrime>
            <Cx>0</Cx>
            <Cy>0</Cy>
            <focalLength>0</focalLength>
            <hackBaseline>0</hackBaseline>
            </plugin>
        </sensor>
    </gazebo>
</xacro:macro>

<xacro:camera link_name="ZED2i"/>  -->


</robot>



